.home {


  .billboard {
    display: flex;
    flex-direction: column;
    align-items: center;

    .toy-bus, .bb-content {
      width: 90%;
      margin-bottom: 1.5rem;
    }
    .bb-content {
      .dashes(dashed; 2px; @navigation-border);
    }

  }

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    @media @mobile {
      flex-direction: column;
      align-items: center;
    }

    .text-content {
      width: 44%;
      padding-right: 1%;
      @media @mobile {
        width: 90%;
        margin-bottom: 1.5rem;
      }
    }

    .img-content {
      width: 44%;
      padding-left: 1%;
      @media @mobile {
        width: 90%;
        margin-bottom: 1.5rem;
      }

      img {
        border-radius: 10px;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    .dashes(dashed; 2px; @navigation-border);
    @media @mobile {
      flex-direction: column-reverse;
    }

    .text-content {
      padding-left: 1%;
      padding-right: 0;
      @media @mobile {
        width: 90%;
        margin-bottom: 1.5rem;
      }
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
      @media @mobile {
        width: 90%;
        margin-bottom: 1.5rem;
      }
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;
    @media @mobile {
      flex-direction: column;
      align-items: center;
    }

    .destination {
      width: 30%;
      margin-bottom: 30px;
      @media @mobile {
        width: 80%;
      }
    }

    .btn {
      .action-btn(90%, @button-bg, 2rem);
      color: @white;
      padding: 1rem 2rem;
      border-radius: 10px;
      text-align: center;
      margin-bottom: 2.5rem;
    }
  }

}// home
