// Navigation Styles here
// Parametric mixins



.nav-bar {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;

  .company-name {
    width: 60%;
  }

  .menu {
    width: 40%;
    display: flex;
    justify-content: space-between;

      .item {
        text-decoration: none;
        color: black;
        font-size: 2rem;
      }
  }

}
